<div class="row py-5">
  <div class="col-6 mx-auto">
    <form [formGroup]="loginForm">
      <h1 class="text-light h3 mb-3 fw-normal text-center">Please sign in</h1>

      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label for="emailOrUsername" class="form-label mb-1 fs-sm text-light"
            >Email or Username</label
          >
          <span class="text-danger" *ngIf="isInvalidTouched('identifier')">
            This field is required.
          </span>
        </div>
        <div class="input-group has-validation">
          <input
            type="text"
            class="form-control form-control-sm"
            id="identifier"
            formControlName="identifier"
          />
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label for="password" class="form-label mb-1 fs-sm text-light"
            >Password</label
          >
          <span class="text-danger" *ngIf="isInvalidTouched('password')">
            {{ loginForm.get("password")!.errors!["message"] }}
          </span>
        </div>
        <div class="has-validation">
          <div class="position-relative">
            <input
              [type]="!showPassword ? 'password' : 'text'"
              class="form-control form-control-sm"
              id="password"
              formControlName="password"
            />
            <ng-icon
              role="button"
              (click)="showPassword = !showPassword"
              class="position-absolute end-0 top-50 translate-middle-y me-2 opacity-75"
              [name]="!showPassword ? 'bootstrapEye' : 'bootstrapEyeSlash'"
            ></ng-icon>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-6">
          <span
            *ngIf="message"
            class="alert p-1"
            [ngClass]="{
              'alert-success': isSuccess,
              'alert-danger': !isSuccess
            }"
            >{{ message }}</span
          >
        </div>
        <div class="col-12">
          <button
            (click)="login()"
            type="submit"
            class="btn btn-sm btn-warning"
          >
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
