<div class="row py-5">
  <div class="col-6 mx-auto">
    <form [formGroup]="loginForm">
      <h1 class="text-light h3 mb-3 fw-normal text-center">Please sign in</h1>

      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label for="emailOrUsername" class="form-label text-light"
            >Email or Username</label
          >
          <span class="text-danger" *ngIf="isInvalidTouched('emailOrUsername')">
            This field is required.
          </span>
        </div>
        <div class="input-group has-validation">
          <span class="input-group-text">&#64;</span>
          <input
            type="emailOrUsername"
            class="form-control"
            id="emailOrUsername"
            formControlName="emailOrUsername"
          />
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label for="password" class="form-label text-light">Password</label>
          <span class="text-danger" *ngIf="isInvalidTouched('password')">
            {{ loginForm.get("password")!.errors!["message"] }}
          </span>
        </div>
        <div class="input-group has-validation">
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-6">
          <span
            *ngIf="message"
            class="alert p-1"
            [ngClass]="{
              'alert-success': isSuccess,
              'alert-danger': !isSuccess
            }"
            >{{ message }}</span
          >
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <button (click)="login()" type="submit" class="btn btn-warning">
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
