<div
  class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <svg class="bi pe-none me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">User profile</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        routerLink="/dashboard/userdetail"
        class="nav-link text-warning"
        routerLinkActive="bg-warning text-dark"
        aria-current="page"
      >
        User detail
      </a>
    </li>
    <li class="nav-item" *ngIf="user && role !== 'ADMIN'">
      <a
        routerLink="/dashboard/userfav"
        class="nav-link text-warning"
        routerLinkActive="bg-warning text-dark"
        aria-current="page"
      >
        User favourites
      </a>
    </li>
    <li class="nav-item" *ngIf="user && role === 'ADMIN'">
      <a
        routerLink="/dashboard/manage-movies"
        class="nav-link text-warning"
        routerLinkActive="bg-warning text-dark"
        aria-current="page"
      >
        Manage movies
      </a>
    </li>
  </ul>
</div>
