<div class="row py-5">
  <h1 class="text-light text-center mb-5">
    Welcome!<br />Please register to access web site experience
  </h1>
  <div class="col-8 mx-auto">
    <form [formGroup]="registerForm">
      <div class="row g-3 mb-3">
        <div class="col-sm-6">
          <div class="d-flex justify-content-between">
            <label for="firstName" class="form-label fs-sm mb-1 text-light"
              >First name</label
            >
            <span class="text-danger" *ngIf="isInvalidTouched('firstName')">
              Valid first name is required.
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-sm"
            id="firstName"
            formControlName="firstName"
          />
        </div>

        <div class="col-sm-6">
          <div class="d-flex justify-content-between">
            <label for="lastName" class="form-label fs-sm mb-1 text-light"
              >Last name</label
            >
            <span class="text-danger" *ngIf="isInvalidTouched('lastName')">
              Valid last name is required.
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-sm"
            id="lastName"
            formControlName="lastName"
          />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <div class="d-flex justify-content-between">
            <label for="username" class="form-label mb-1 fs-sm text-light"
              >Username</label
            >
            <span class="text-danger" *ngIf="isInvalidTouched('username')">
              {{ registerForm.get("username")!.errors!["message"] }}
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-sm"
            id="username"
            formControlName="username"
          />
        </div>
        <div class="col">
          <div class="d-flex justify-content-between">
            <label for="email" class="form-label fs-sm mb-1 text-light"
              >Email</label
            >
            <span class="text-danger" *ngIf="isInvalidTouched('email')">
              {{
                registerForm.get("email")!.hasError("required")
                  ? "Email is required"
                  : "Email is invalid"
              }}
            </span>
          </div>
          <div class="has-validation">
            <input
              type="email"
              class="form-control form-control-sm"
              id="email"
              formControlName="email"
            />
          </div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-between">
            <label for="password" class="form-label mb-1 fs-sm text-light"
              >Password</label
            >
            <span class="text-danger" *ngIf="isInvalidTouched('password')">
              {{ registerForm.get("password")!.errors!["message"] }}
            </span>
          </div>
          <div class="has-validation">
            <div class="position-relative">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control form-control-sm"
                id="password"
                formControlName="password"
              />
              <ng-icon
                role="button"
                (click)="showPassword = !showPassword"
                class="position-absolute end-0 top-50 translate-middle-y me-2 opacity-75"
                [name]="!showPassword ? 'bootstrapEye' : 'bootstrapEyeSlash'"
              ></ng-icon>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-6">
          <span
            *ngIf="message"
            class="alert p-1"
            [ngClass]="{
              'alert-success': isSuccess,
              'alert-danger': !isSuccess
            }"
            >{{ message }}</span
          >
        </div>
        <div class="col-12 d-flex justify-content-start align-items-center">
          <button
            (click)="register()"
            type="submit"
            class="btn btn-sm btn-warning"
          >
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
