<nav class="py-2 bg-dark border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item">
        <a
          routerLink="/"
          class="nav-link text-light px-2 active"
          aria-current="page"
          >Home</a
        >
      </li>

      <li class="nav-item" *ngIf="isLoggedIn">
        <a routerLink="/users" class="nav-link text-light px-2">Users</a>
      </li>
    </ul>
    <ul class="nav ms-auto" *ngIf="isLoggedIn">
      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
        <a
          class="nav-link text-light"
          tabindex="0"
          ngbDropdownToggle
          id="navbarDropdown3"
          role="button"
        >
          <ng-icon name="bootstrapPersonFill"></ng-icon>
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown3"
          class="dropdown-menu"
        >
          <a
            ngbDropdownItem
            routerLink="/dashboard/userdetail"
            (click)="$event.preventDefault()"
            >Profile info</a
          >
          <a
            ngbDropdownItem
            routerLink="/dashboard/userfav"
            (click)="$event.preventDefault()"
            >Your favourites</a
          >
        </div>
      </li>
    </ul>
    <ul class="nav">
      <ng-container *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a routerLink="/auth/login" class="btn btn-outline-light me-2"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/auth/register" class="btn btn-light">Sign up</a>
        </li>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <li class="nav-item">
          <button (click)="logout()" class="btn btn-light">Logout</button>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
