<div class="row py-5">
  <div class="col-6 mx-auto">
    <form [formGroup]="registerForm">
      <div class="mb-3">
        <label for="firstName" class="form-label text-light">First Name:</label>
        <input
          formControlName="firstName"
          type="text"
          class="form-control"
          id="firstName"
        />
        <p
          *ngIf="
            registerForm.get('firstName')?.invalid &&
            registerForm.get('firstName')?.touched
          "
          class="alert alert-danger my-1 p-1"
        >
          This field is required
        </p>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label text-light">Last Name</label>
        <input
          formControlName="lastName"
          type="text"
          class="form-control"
          id="lastName"
        />
        <p
          *ngIf="
            registerForm.get('lastName')?.invalid &&
            registerForm.get('lastName')?.touched
          "
          class="alert alert-danger my-1 p-1"
        >
          This field is required
        </p>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label text-light">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <p
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
          class="alert alert-danger my-1 p-1"
        >
          You must insert a valid email address
        </p>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label text-light">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
        />
        <p
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
          class="alert alert-danger my-1 p-1"
        >
          You must insert a valid password
        </p>
      </div>
      <div class="row align-items-center">
        <div class="col-6">
          <span
            *ngIf="message"
            class="alert p-1"
            [ngClass]="{
              'alert-success': isSuccess,
              'alert-danger': !isSuccess
            }"
            >{{ message }}</span
          >
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <button
            (click)="register()"
            type="submit"
            class="btn btn-outline-light"
          >
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
