<footer
  class="bg-dark d-flex flex-wrap justify-content-between align-items-center py-3 border-top"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-0 text-light d-flex align-items-center">
        © 2024 Company, Inc
      </div>

      <ul class="nav col-md-6 justify-content-end">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-light">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-light">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-light">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-light">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-light">About</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
