<ng-container *ngIf="!alreadyVoted">
  <div class="d-flex gap-2 justify-content-center">
    <ng-container>
      <span
        (click)="rate(star.value)"
        class="text-warning clickable"
        *ngFor="let star of stars"
      >
        <ng-icon
          [name]="rating >= star.value ? 'bootstrapStarFill' : 'bootstrapStar'"
        ></ng-icon>
      </span>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="alreadyVoted">
  <div>
    <span class="text-warning fs-8">{{ message }}</span>
  </div>
</ng-container>
