<div class="row py-5">
  <div class="col-3"><app-sidebar></app-sidebar></div>
  <div class="col-9">
    <ng-container *ngIf="user">
      <div class="row">
        <h1 class="text-light mb-5">Welcome {{ user.username }},</h1>
        <div class="row mb-5">
          <h5 class="text-light fw-normal">Here your personal info:</h5>
          <div class="row">
            <div class="col-2">
              <p class="text-light mb-1">First Name:</p>
            </div>
            <div class="col">
              <p class="text-light mb-1">{{ user.firstName }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <p class="text-light mb-1">Last Name:</p>
            </div>
            <div class="col">
              <p class="text-light mb-1">{{ user.lastName }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <h5 class="text-light fw-normal">Here your access data:</h5>
        <div class="row">
          <div class="col-2">
            <p class="text-light mb-1">Email:</p>
          </div>
          <div class="col">
            <p class="text-light mb-1">{{ user.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <p class="text-light mb-1">Password:</p>
          </div>
          <div class="col">
            <p class="text-light mb-1">{{ user.password! | crypto }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
