<ng-container *ngIf="isLoading">
  <div class="d-flex justify-content-center py-5">
    <div class="spinner-border text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading">
  <app-hero [movie]="recentMovie"></app-hero>

  <ng-container *ngIf="movies">
    <div class="row row-cols-6 g-4">
      <div class="col" *ngFor="let movie of movies">
        <app-card [movie]="movie"> </app-card>
      </div>
    </div>
  </ng-container>
</ng-container>
