<ng-container *ngIf="user">
  <div class="card border-0 mb-3 bg-light bg-opacity-10 position-relative">
    <div class="card-body bg-light bg-opacity-10 border-0 px-3">
      <h3 class="card-title text-light">
        {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
      </h3>
      <p class="text-light">User email: {{ user.email }}</p>
      <div class="fs-7 mb-3">
        <ng-container *ngIf="!message">
          <h6 class="text-light">
            User's favourites movies: {{ movies ? movies.length : 0 }}
          </h6>
          <div class="d-flex gap-2">
            <span *ngFor="let movie of movies">
              <a
                [routerLink]="['/movie', movie.id]"
                class="text-warning text-decoration-none"
              >
                {{ movie.title }}
              </a>
            </span>
          </div>
        </ng-container>
        <ng-container *ngIf="message">
          <p class="text-light fst-italic">{{ message }}</p>
        </ng-container>
      </div>
    </div>
    <button
      (click)="deleteUser()"
      *ngIf="loggedUser.role === 'admin'"
      class="btn btn-warning position-absolute top-0 end-0 mt-1 me-1"
    >
      Delete user
    </button>
  </div>
</ng-container>
